{% extends "base.html" %}

{% block content %}

    {# Login page #}
    <div class="container" id="login">

        <div class="row justify-content-center align-items-center 0">

            <div class="col-12 col-lg-9 col-xl-7">

                <div class="card-body p-3 p-md-5">

                    <h3 class="mb-3 pb-2 pb-md-0 mb-md-5">Login</h3>

                        <form method="post">

                            <div class="field">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="username" id="floatingInput">
                                    <label for="floatingInput">Username</label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="form-floating mb-3">
                                    <input type="Password" class="form-control" placeholder="password" id="floatingInput">
                                    <label for="floatingInput">Password</label>
                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                            </div>

                        </form>

              </div>
          </div>
        </div>
    </div>
{% endblock %}