{% extends "base.html" %}

{% block content %}

    <div class="container" id="register">
        <div class="row justify-content-center align-items-center 0">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card-body p-3 p-md-5">

                    <h3 class="mb-3 pb-2 pb-md-0 mb-md-5">Register</h3>

                    <form method="post">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                 <div class="field">
                                     <div class="form-floating mb-3">
                                         <input type="text" class="form-control" placeholder="firstname" id="floatingInput" required>
                                         <label for="floatingInput">First Name</label>
                                     </div>
                                 </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                 <div class="field">
                                    <div class="form-floating mb-3">
                                         <input type="text" class="form-control" placeholder="lastname" id="floatingInput" required>
                                         <label for="floatingInput">Last Name</label>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                 <div class="field">
                                     <div class="form-floating mb-3">
                                         <input type="text" class="form-control" placeholder="username" id="floatingInput" required>
                                         <label for="floatingInput">Username</label>
                                     </div>
                                 </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                 <div class="field">
                                    <div class="form-floating mb-3">
                                         <input type="email" class="form-control" placeholder="email" id="floatingInput" required>
                                         <label for="floatingInput">Email</label>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="field">
                                     <div class="form-floating">
                                         <input type="Password" class="form-control" placeholder="password" id="floatingInput" required>
                                         <label for="floatingInput">Password</label>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="field">
                                     <div class="form-floating">
                                         <input type="Password" class="form-control" placeholder="confirmpassword" id="floatingInput" required>
                                         <label for="floatingInput">Confirm Password</label>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input class="form-check-input text-non-decorated" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." required>
                            <label class="text-non-decorated">By clicking submit you accept our <a href="{% url 'terms' %}" class="text-decoration-none">Terms and Conditions</a> agreement.</label>
                        </div>
                        <div class="mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"> Sing Up</button>
                            <button type="reset" class="btn btn-outline-warning btn-lg"> Clear Form </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}